/*view create product*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 65%;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 95% !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right !important;
}

.color_input_name {
    width: 170px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
}

.color_input_code {
    width: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    text-align: center;
    margin-right: 10px;
}

#color_input_code {
    width: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    text-align: center;
    margin-right: 5px;
}

.add_product_tag {
    color: white;
    background: #5CB85C;;
    height: 34px;
    line-height: 34px;
    float: right;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.tag_div {
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    background: #F9F9F9;
    margin-right: 10px;
    cursor: pointer;
}

/* product dropzone*/
.dropzone
{
    border: 2px dashed #0087F7 !important;
    border-radius: 5px;
    background: #FFF none repeat scroll 0% 0% !important;
}
#image_product_box
{
    direction:ltr;
    margin-top:30px;
    margin-right: 40px;
}
#image_product_box img
{
    width:120px;

}
#show_product_image
{
    width: 390px;
    margin: 36px 103px;
}
#show_product_image img
{
    width:400px;
    height: 261px;
    margin:auto;
}
