/*view create product*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 65%;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 95% !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right !important;
}

.color_input_name {
    width: 170px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
}

.color_input_code {
    width: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    text-align: center;
    margin-right: 10px;
}

#color_input_code {
    width: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    text-align: center;
    margin-right: 5px;
}

.add_product_tag {
    color: white;
    background: #5CB85C;;
    height: 34px;
    line-height: 34px;
    float: right;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.tag_div {
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    background: #F9F9F9;
    margin-right: 10px;
    cursor: pointer;
}

/* product dropzone*/
.dropzone
{
    border: 2px dashed #0087F7 !important;
    border-radius: 5px;
    background: #FFF none repeat scroll 0% 0% !important;
}
#image_product_box
{
    direction:ltr;
    margin-top:30px;
    margin-right: 40px;
}
#image_product_box img
{
    width:120px;

}
#show_product_image
{
    width: 390px;
    margin: 36px 103px;
}
#show_product_image img
{
    width:400px;
    height: 261px;
    margin:auto;
}

/*product filter*/

.child_filter
{
    padding-top:10px;
    width:100%;
    float:right;
}
.child_item
{
    padding-top:10px;
    width:100%;
    float:right;
}
#filter_box .form-control
{
    width:30%;
}

/* product review*/
.img_review_box
{
    background:url("../images/review.png");
    width: 136px;
    height: 130px;
    float: left;
    position: relative;
    margin-top: 20px;
    margin-right: 15px;

}

.img_review_box img
{
    width: 140px;
    max-height: 130px;
    margin:auto;
    position:absolute;
    right:0px;
    left:0px;
    top:0px;
    bottom: 0px;
}

/* admin login*/
 .login_box {
     width: 450px;
     background: white;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     margin: 50px auto;
     border: 1px solid gainsboro;
     padding: 25px;
 }

.login_box .form-control {
    width: 100%;
    margin-top: 15px;
    /*text-align: left;*/
}

.login_box .form-group {
    width: 92%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_login {
    width: 100%;
    border-bottom: 2px solid #00e7ff;
}

.header_login h4 {
    padding-top: 14px;
    padding-bottom: 7px;
    padding-right: 15px;
    text-align: center;
}

.login_box .has-error {
    color: red;
    font-size: 12px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white;
    color: #4e4e4e;
    border: 2px solid #66bfff;
}

.button2:hover {
    background-color: #66bfff;
    color: white;
}


